{
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "printWidth": 90,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "semi": true,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "useTabs": true
      }
    }
  ]
}
