name: build
on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [10, 11, 12, 13, 14]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node }}

      - name: Install deps
        run: yarn

      - name: Lint
        run: yarn lint

      - name: Run API type definition tests
        run: yarn test-api-dts

      - name: Test
        env:
          STREAM_API_KEY: ${{secrets.STREAM_API_KEY}}
          STREAM_API_SECRET: ${{secrets.STREAM_API_SECRET}}
        run: yarn test
