name: build
on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [10, 12, 14]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node }}

      - name: Install deps
        run: yarn

      - name: Lint
        run: yarn lint

  test-types:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [12]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node }}

      - name: Run API type definition tests
        run: yarn && yarn test-types

      - name: Unit tests
        run: yarn run test-unit

      # not running this, but we should, tests are broken though
      # - name: Test
      #   env:
      #     STREAM_API_KEY: ${{secrets.STREAM_API_KEY}}
      #     STREAM_API_SECRET: ${{secrets.STREAM_API_SECRET}}
      #   run: yarn test
