name: Lint
on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-node

      - name: Commit message lint
        run: echo "${{ github.event.pull_request.title }}" | yarn commitlinter

      - name: Lint
        run: yarn lint
