name: Release
on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: Run package release in "dry run" mode (does not publish)
        default: false
        type: boolean

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  package_release:
    name: Release from "${{ github.ref_name }}" branch
    runs-on: ubuntu-latest
    # GH does not allow to limit branches in the workflow_dispatch settings so this here is a safety measure
    if: ${{ inputs.dry_run || github.ref_name == 'rc' || startsWith(github.ref_name, 'release') || startsWith(github.ref_name, 'master') }}
    env:
      HUSKY: 0
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-node

      - name: Release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          # https://github.com/stream-ci-bot
          GITHUB_TOKEN: ${{ secrets.DOCUSAURUS_GH_TOKEN }}
        run: >
          yarn semantic-release
          ${{ inputs.dry_run && '--dry-run' || '' }}
