name: Compressed size

on:
  pull_request:
    paths-ignore:
      - 'test/**'
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: preactjs/compressed-size-action@v2
        env:
          NODE_OPTIONS: --max_old_space_size=4096
          YARN_IGNORE_ENGINES: 'true' # Skip validation for node20 requirement
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
